body{
    background-color: #7D7764;
}
h1{
    text-align: center;
    font-size: 37px;
    font-family: "Rock Salt", cursive;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .slider-container img {
    flex: 0 0 10%;
    width: 10%;
    object-fit: cover;
  }
  .contenedor {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
}

.texto-derecha {
    padding: 10px;
    border-radius: 5px;
    font-family: "Rock Salt", cursive;
}
.botoncentrado{
  text-align: center;
  font-family: "Rock Salt", cursive;
}
nav{
  box-shadow: #7D7764;
  justify-content: space-evenly;
  display: flex;
  background-color: #A59D84;
  font-family: "Rock Salt", cursive;
}
nav a{
  text-decoration: none;
  font-family: "Rock Salt", cursive;
}
.estilobarra2{
  justify-items: center;
  justify-content: space-between;
  border-radius: 80px;
  font-family: "Rock Salt", cursive;
}
@media(width <= 480px){
  nav{
      flex-direction: column;
      
  }
  .slider-container img{
      display: none;
  }
  header img{
      display: flex;
      justify-content: flex-end;
      width: 100px;
  }
  .centrar{
      width: 350px;
      display: flex;
  }
form{
  width: 100px;
  display: flex;
  justify-content: center;
}
.texto-derecha{
  font-size: 19px;
}
footer{
  margin-top: 3800px;
}
}
@media (width<=768px)
{
  nav{
    flex-direction: column;
    
}
.slider-container img{
    display: none;
}
header img{
    display: flex;
    justify-content: flex-end;
    width: 100px;
}
.centrar{
    width: 350px;
    display: flex;
}
form{
width: 100px;
display: flex;
justify-content: center;
}
.texto-derecha{
font-size: 19px;
}
footer{
margin-top: 3800px;
}
}